@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-family: "Chivo", sans-serif;
}
#page1{
    height: 100%;
    width: 100%;
}
#page1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 01vmax;
}
#page1 nav a{
    text-decoration: none;
    color: #fff;
    padding: 1vmax;
    font-size: 1.4vmax;
    font-weight: 200;
}

#page1 .logo h1{
    font-size: 2.5vmax;
    font-family: "MuseoModerno", sans-serif;
}

.hero h2{
    font-size: 5vmax;
    text-align: center;
    padding-top: 4vmax;
    font-weight: 900;
    letter-spacing: -2%;
}
.hero img{
    height: 65vh;
    width: 90vw;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.hero .end{
    display: flex;
    padding: 4vmax 10vmax;
    justify-content: space-between;
    align-items: center;
}
.end h3{
    font-size: 3vmax;
    font-weight: 900;
    line-height: 3vmax;
    letter-spacing: -1%;
}
.end p{
    font-size: 1.2vmax;
}

/* PAGE 1 Ends */
/* PAGE 2 Starts */
#page2{
    padding: 2vmax;
}
#projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 2.5vmax;
    /* gap: 2vmax; */
}
.project{
    padding: 2vmax 0vmax;
    align-self: center;
    justify-self: center;
}
.project img{
    height: 18vmax;
    width: 28vw;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
}

.pEnd{
    display: grid;
    grid-template-columns: 50% 50%;
}
.pEnd p{
    font-size: 1.5vmax;
}

.intro{
    height: 20vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vmax 19vmax;
}
.intro p{
    font-size: 3vmax;
    text-align: center;
}
/* Page 2 Complete */




/* PAGE 3 Starts */
#page3{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vmax 0;
}

#page3 h2{
    font-size: 2.5vmax;
}

#page3 p{
    font-size: 1vmax;
    padding: 0.5vmax 0;
}

.contact{
    display: flex;
    gap: 10px;
    padding: 2vmax;
}
.input-box{
    width: 3.8vmax;
    height: 4vmax;
}
.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    background: #000;
    color: #fff;
    text-align: center;
    background: #000;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 2vmax;
}

.input-box input:focus {
    outline: none;
}
.submit {
    background-color: #8a6cfb;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}
.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub a{
    color: #8a6cfb;
}
/* Page 3 ends */



/* Page 4 starts */
#page4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.connect{
    padding: 3vmax 0;
}
#page4 .connect h2{
    text-align: center;
    font-size: 5vmax;
}
#page4 .connect img{
    height: 70vh;
    width: 90vw;
    object-fit: cover;
    border-radius: 20px;
    margin: 0 auto;
}

.footer{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer button{
    background: #000;
    color: #fff;
    padding: 0.5vmax 1vmax;
    border-radius: 20px;
    border: 0.5px solid #fff;
}